@{
    ViewData["Title"] = "Home Page";
}

@model List<Person>

    <a href="Home/Add">add</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>MyString</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.MyString</td>
            </tr>
        }
    </tbody>
</table>

